<nav class="bg-white mb-4 shadow rounded">
  <div class = 'buttons ml-4 mr-4 my-2'>
    <%= link_to 'Schedule a Meeting', new_meeting_path, class: 'btn btn-success mb-3' %>
    <%= link_to 'Calendar Mode', meetings_calendar_path, class: 'btn btn-success mb-3' %>
    <%= link_to 'Rooms', rooms_path, class: 'btn btn-dark mb-3' if current_user.admin?%>
    </div>
</nav>

<div class="bg-white p-10 border rounded">
  <div id="all-meetings" class="tab-panel">
     <h1 class='text-center'>Meetings</h1>            
  </div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="previous-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Previous</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="today-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Today</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Upcoming</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <table class = 'table'>
            <thead class= 'thead-dark'>
                <tr>
                <th scope = 'col'>Name</th>
                <th scope = 'col'>Begins at</th>
                <th scope = 'col'>End at</th>
                <th scope = 'col' colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% @meetings_previous.each do |meeting| %>
                <tr>
                    <td><%= meeting.name %></td>
                    <td><%= readable_time(meeting.start_time) %></td>
                    <td><%= readable_time(meeting.end_time) %></td>
                    <td><%= link_to 'Show', meeting, class: 'btn btn-info' %></td>
                    <td><%= link_to "Cancel Meeting", meeting, method: :delete, data: { confirm: "Are you sure? There are no refunds." }, class: "btn btn-warning ml-4" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <table class = 'table'>
            <thead class= 'thead-dark'>
                <tr>
                <th scope = 'col'>Name</th>
                <th scope = 'col'>Begins at</th>
                <th scope = 'col'>End at</th>
                <th scope = 'col' colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% @meetings_today.each do |meeting| %>
                <tr>
                    <td><%= meeting.name %></td>
                    <td><%= readable_time(meeting.start_time) %></td>
                    <td><%= readable_time(meeting.end_time) %></td>
                    <td><%= link_to 'Show', meeting, class: 'btn btn-info' %></td>
                    <td><%= link_to "Cancel Meeting", meeting, method: :delete, data: { confirm: "Are you sure? There are no refunds." }, class: "btn btn-warning ml-4" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <table class = 'table'>
            <thead class= 'thead-dark'>
                <tr>
                <th scope = 'col'>Name</th>
                <th scope = 'col'>Begins at</th>
                <th scope = 'col'>End at</th>
                <th scope = 'col' colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% @meetings_upcoming.each do |meeting| %>
                <tr>
                    <td><%= meeting.name %></td>
                    <td><%= readable_time(meeting.start_time) %></td>
                    <td><%= readable_time(meeting.end_time) %></td>
                    <td><%= link_to 'Show', meeting, class: 'btn btn-info' %></td>
                    <td><%= link_to "Cancel Meeting", meeting, method: :delete, data: { confirm: "Are you sure? There are no refunds." }, class: "btn btn-warning ml-4" %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
  </div>
</div>

